<main class="h-screen w-full flex flex-col justify-center items-center">
	<h1 class="text-9xl font-extrabold t tracking-widest">404</h1>
	<div class="bg-emerald-600 px-2 text-sm rounded rotate-12 absolute text-white">
		Page Not Found
	</div>
	<button class="mt-5">
    <button
    type="submit"
    class="py-2 px-4 bg-emerald-600 hover:bg-emerald-700 focus:focus:ring-emerald-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"

  >
    VOLTAR
  </button>
    </button>
</main>
