<div class="">
  <div>
<form [formGroup]="dateForm">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date</label>
  <input type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  formControlName="date"
  required>
  <button
  type="submit"
  class="py-2 px-4 bg-emerald-600 hover:bg-emerald-700 focus:focus:ring-emerald-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
  (click)="createDate()"
>
  ENTRAR
</button>
</form>
</div>
  </div>
  <button (click)="openDialog()">test</button>
